::ng-deep.c3-region.regionX {
  fill: red;
}
::ng-deep.c3-region.regionY {
  fill: green;
}
::ng-deep.c3-region.regionZ {
  fill: blue;
}
::ng-deep.c3-region.regionX1 {
  fill: yellow;
}
::ng-deep.c3-region.regionY1 {
  fill: grey;
}
::ng-deep.c3-region.regionZ1 {
  fill: pink;
}

::ng-deep.mat-chip-category { 
  background-color: #346cb0;
  color: white;
}
